In [1]:
for y in range(0,5):
  if y==0:
    print("* * * *")
  elif y==1 or y==3 or y==4:
    print("*     *")
  else:
    print("* * * *")

* * * *
*     *
* * * *
*     *
*     *

In [2]:
for y in range(0,5):
  if y==0 or y==2 or y==4:
    print("* * *")
  else:
    print("*     *")

* * *
*     *
* * *
*     *
* * *

In [3]:
for y in range(0,5):
  if y==0 or y==4:
    print("* * * *")
  else:
    print("*      ")

* * * *
*
*
*
* * * *

In [7]:
for y in range(0,5):
  if y==0 or y==4:
    print("* *")
  elif y==1 or y==3:
    print("*   *")
  else:
    print("*    *")

* *
*   *
*    *
*   *
* *

In [8]:
for y in range(0,5):
  if y==0 or y==4:
    print("* * *")
  elif y==1 or y==3:
    print("*")
  else:
    print("* *")

* * *
*
* *
*
* * *

In [11]:
for y in range(0,5):
  if y==0 :
    print("* * *")
  elif y==2:
    print("* *")
  else:
    print("*")

* * *
*
* *
*
*

In [14]:
for y in range(0,5):
  if y==0 :
    print("* * *")
  elif y==3:
    print("*   *  *")
  elif y==4:
    print("* * *  *")
  else:
    print("*")

* * *
*
*
*   *  *
* * *  *

In [15]:
for y in range(0,5):
  if y==0 or y==1 or y==3 or y==4:
    print("*   *")
  else:
    print("* * *")

*   *
*   *
* * *
*   *
*   *

In [16]:
for y in range(0,5):
  if y==0 or y==1 or y==2 or y==3 or y==4:
    print("*")

*
*
*
*
*

In [17]:
for y in range(0,5):
  if y==0 :
    print("* * *")
  elif y==1 or y==2:
    print("  *  ")
  else:
    print("* *")

* * *
  *
  *
* *
* *

In [19]:
for y in range(0,5):
  if y==2:
    print("* *")
  elif y==1 or y==3:
    print("*   *")
  else:
    print("*     *")

*     *
*   *
* *
*   *
*     *

In [20]:
for y in range(0,5):
  if y==0 or y==1 or y==2 or y==3:
    print("*")
  else:
    print("* * *")

*
*
*
*
* * *

In [36]:
for y in range(0,5):
  if y==1:
    print("  *   *   ")
  elif y==2:
    print("    *    ")
  elif y==3:
    print(" *      *")
  elif y==0:
    print("        ")
  else:
    print("*        *")

  *   *
    *
 *      *
*        *

In [37]:
for y in range(0,5):
  if y==0 or y==1 or y==3 or y==4:
    print("*   *")
  else:
    print("* * *")

*   *
*   *
* * *
*   *
*   *

In [40]:
for y in range(0,5):
  if y==0 or y==4:
    print("* * *")
  else:
    print("*   *")

* * *
*   *
*   *
*   *
* * *

In [44]:
for y in range(0,5):
  if y==0 or y==2:
    print("* * *")
  elif y==1:
    print("*   *")
  else:
    print("*")

* * *
*   *
* * *
*
*

In [49]:
for y in range(0,5):
  if y==0 or y==2 or y==3:
    print("* * *")
  elif y==1 :
    print("*   *")
  else:
    print("      *")

* * *
*   *
* * *
* * *
      *

In [54]:
for y in range(0,5):
  if y==0 or y==2:
    print("* * *")
  elif y==1:
    print("*   *")
  elif y==3:
    print("*  *")

* * *
*   *
* * *
*  *

In [55]:
for y in range(0,5):
  if y==0 or y==2 or y==4:
    print("* * *")
  elif y==1:
    print("*")
  else:
    print("    *")

* * *
*
* * *
    *
* * *

In [56]:
for y in range(0,5):
  if y==0:
    print("* * *")
  else:
    print("  *  ")

* * *
  *
  *
  *
  *

In [57]:
for y in range(0,5):
  if y==4:
    print("* * *")
  else:
    print("*   *")

*   *
*   *
*   *
*   *
* * *

In [62]:
for y in range(0,3):
  if y==0 :
    print("*   *")
  elif y==1:
    print(" * *")
  else:
    print("  *   ")

*   *
 * *
  *

In [67]:
for y in range(0,3):
  if y==0 :
    print("*   *    *")
  elif y==1:
    print(" * *  * *")
  else:
    print("  *    * ")

*   *    *
 * *  * *
  *    *

In [78]:
for y in range(0,3):
  if y==0 or y==2:
    print("*   *   ")
  else:
    print("  *  ")

*   *
  *
*   *

In [75]:
for y in range(0,3):
  if y==0 :
    print("  *   *")
  elif y==1:
    print("    * ")
  else:
    print("  * ")

  *   *
    *
  *

In [80]:
for y in range(0,5):
  if y==0 or y==4:
    print("*   *   *")
  elif y==2:
    print("    *    ")
  elif y==1:
    print("      *  ")
  else:
    print("  *")

*   *   *
      *
    *
  *
*   *   *